{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}
{% block body %}
{% if 'useremail' in session %}
<main class="my-3 font-[poppins]">
    <h1 class="text-center items-center justify-center text-5xl" style="font-family: Bree Serif, serif;">Welcome To
        TaskCraft!!</h1>
    <form action="/" method="POST">
        <div class="container m-auto w-4/5 my-2">
            <div class="mb-3">
                <label for="title" class="block text-sm font-medium text-gray-700">Todo Title</label>
                <input type="text" id="title" name="title" aria-describedby="emailHelp"
                    class="mt-1 focus:ring-indigo-500 py-2 focus:outline-none focus:border-indigo-500 focus:border-2 px-3 border border-gray-200 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
            <div class="mb-3">
                <label for="desc" class="block text-sm font-medium text-gray-700">Todo
                    Description</label>
                <input type="text" id="desc" name="desc"
                    class="mt-1 focus:ring-indigo-500 py-2 focus:outline-none focus:border-indigo-500 focus:border-2 px-3 border border-gray-200 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
            <button type="submit"
                class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Add
                Todo</button>
            <h1 class="my-4 text-3xl" style="font-family: Bree Serif, serif;">Your Todo's</h1>
        </div>
    </form>
    <table class=" divide-y container my-2 m-auto w-4/5 divide-gray-200">

        <tbody class="bg-white divide-y divide-gray-200">
            {% if allTodo|length==0 %}
            <h1 class="text-2xl justify-center items-center ml-36 mx-36" style="font-family: Bree Serif, serif;">No
                Todo's available. Please add few Todo's
            </h1>
            {% else %}
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">S.NO
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">Todo
                        Title
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">Todo
                        Description</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">Delete
                        Time
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">Delete
                        Todo
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">Update
                        Todo
                    </th>
                </tr>
            </thead>
            {% for todo in allTodo %}
            <tr>
                <th scope="row" class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{loop.index}}
                </th>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{todo.title}}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{todo.desc}}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{todo.date_created}}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><a href="/Delete/{{todo._id}}"
                        class="rounded-md px-3 py-2 bg-indigo-500 text-white list-none hover:bg-indigo-600">Delete</a>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><a href="/Update/{{todo._id}}"
                        class="rounded-md px-3 py-2 bg-indigo-500 text-white list-none hover:bg-indigo-600">Update</a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}

        </tbody>
    </table>

</main>
{% else %}
<h1 class="text-center text-3xl my-3">Please create an account!</h1>
{% endif %}
{% endblock body %}